<p>mcq works!</p>
<div class='container-fluid py-5 px-5'>
    <div class='row'>
      <div class='col-8 col-sm-6'>
    <h5><span class='font-weight-bold'>Your Score</span>
    <span class='ml-3 badge rounded-circle p-3 text-white'>40</span></h5>
      </div>
      <div class='col-4 col-sm-6 text-right'>
        <button class='btn min_marks'>Min marks for passing- 90</button>
          </div>
    </div>
    <div class='row mt-5'>
    <div class='col-10 font-weight-bold'>
    <h5> Q1. <span>Write a program which takes string as input and prints the given string plus 5 exclamation points using only one print() function?
    </span></h5>
    </div>
    <!-- <div class='row'>
    <div class='col-2'>
      <img src='../../assets/hours.png'>
    </div>
    <div class='col-10 col-lg-10 col-sm-8'>
      <p class='timer'>1:00</p>
    </div>
    </div> -->
    <div class="col-12">
      <div class='row  py-5'>
        <div class='col-12'>
      <div class="form-check pt-3">
        <input class="form-check-input" value='' type="radio" name="assignmentinput" id="Option">
        <label class="form-check-label pl-3" >A</label>
      </div>
      <div class="form-check pt-3">
        <input class="form-check-input" value='' type="radio" name="assignmentinput" id="Option">
        <label class="form-check-label pl-3" >B</label>
      </div>
      <div class="form-check pt-3">
        <input class="form-check-input" value='' type="radio" name="assignmentinput" id="Option">
        <label class="form-check-label pl-3" >C</label>
      </div>
      <div class="form-check pt-3">
        <input class="form-check-input" value='' type="radio" name="assignmentinput" id="Option">
        <label class="form-check-label pl-3" >D</label>
      </div>
      </div>
      </div>
    </div>
    </div>
    </div>